{% extends 'base.html.twig' %}

{% block title %}Редактирование Проекта{% endblock %}

{% block body %}
    <h1>Редактирование Проекта</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_project_index') }}">Вернуться к списку проектов</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
